
.subTitle2{
    text-align: center;
    padding-bottom: 8px;
    position: relative;
    display: block;  
    width: fit-content;  
    margin: 0 auto;  
}

.subTitle2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px; 
    background-color: orange; 
}

.studyContainer {
    display: flex;
    border: 1px solid black;
    margin-top: 24px;
    background-color: #f6f6f6;
    animation: fadeIn 1.5s 1s forwards;
    opacity: 0;
}

@media (prefers-color-scheme: dark) {
    .studiedContent {
        color: black;
    }
}

#animation2 {
    animation: fadeIn 1.5s 1.5s forwards;
    opacity: 0;
}

#animation3 {
    animation: fadeIn 1.5s 2s forwards;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.studiedBox img{
    width: 100%;
    height: auto;
}

.studiedBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.studiedBox p {
    font-size: 1rem;
    color: gray;
}

.studiedContent {
    flex: 2;
}

@media screen and (max-width: 430px) {
    .studyContainer{
        flex-direction: column;
    }
    .studiedContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px;
    }

    .subTitle3 {
       margin: auto;
    }
}