@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* common design */
body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    max-width: 1200px;
    overflow-x: hidden;
}


@media screen and (max-width: 430px) {
    body{
        max-width: 100%;
    }
}

@media screen and (max-width: 820px) {
    body{
        max-width: 100%;
    }
}


/* h1 */
@media screen and (max-width: 430px) {
    h1{
        font-size: 12px;
    }
}

/* h2 */
.subTitle {
    text-align: center;
    text-decoration: underline orange 10px;
}

/* banar image */
#banar {
    width: 100%;
    margin: 0;
}

/* Header h1 page title */
.titleBox {
    display: flex;
    flex-direction: row;
}

/* Header logo */
#logo {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    margin-left: 15px;
}

/* navigation */
#main-navigation ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 25px;
}

#main-navigation li {
    list-style-type: none;
}

#main-navigation li a{
    transition: color 0.5s;
}

#main-navigation li a:hover {
    cursor: pointer;
    color: pink;
}

.nav1 {
    margin-right: 25px;
}

.nav2 {
    margin-right: 25px;
}

/* navigation bar for smart phone */
@media screen and (max-width: 430px) {
    #main-navigation ul{
        flex-direction: column;
    }
}
/* social media */
.socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 25px;
}

.socialMedia li {
    list-style-type: none;
}

.sns1 {
    margin-right: 25px;
}

/* social media for smart phone screen */
@media screen and (max-width: 430px) {
    .sns1 img{
        width: 40px;
        height: 40px;
    }
    .sns2 img{
        width: 40px;
        height: 40px;
    }
}


/* h2 works */
.worksContainer img {
    width: 100%;
}

/* h2 Service */
.serviceContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titleDesign {
    font-weight: bold;
}

.titleDesign, .serviceImg{
    text-align: center;
}

.serviceExplain {
    margin-left: 200px;
    max-width: 50%;
}

.serviceExplain2 {
    margin-left: 150px;
    max-width: 50%;  
}
/* service for smart phone screen */
@media screen and (max-width: 430px) {
    .serviceContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
    }
    .serviceExplain {
        margin-left: 50px;
        max-width: 250px;
    }
    .serviceExplain2 {
        margin-left: 50px;
        max-width: 250px;
    }
}

@media screen and (max-width: 820px) {
    .serviceContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .serviceExplain {
        margin-left: 50px;
        max-width: 350px;
    }
    .serviceExplain2 {
        margin-left: 50px;
        max-width: 350px;
    }
}

@media screen and (max-width: 430px) {
    .serviceContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .serviceExplain {
        margin-left: 30px;
        max-width: 200px;
    }
    .serviceExplain2 {
        margin-left: 30px;
        max-width: 200px;
    }
}

/* h2 skills */
.skillsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}

.skillBoxStar {
    margin-left: 20px;
} 

.skillBoxStar img {
    height: 20px;
}

/* h2 about */
.profileImg {
    border-radius: 90px;
    margin-right: 50px;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 300px;
}

.aboutExplain {
    background-color: #fcfcfc;
    padding: 10px;
}
/* h2 about for smart phone */
@media screen and (max-width: 820px) {
    .about {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 30px;
    }
}

/* h2 contact */
.contactForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.contactForm label {
    width: 950px; 
    text-align: left;
}

.contactForm label {
    display: flex;
    text-align: start;
}

.nameForm, .mailForm{
    width: 938px;
    height: 49px;
}

.messageForm {
    width: 938px;
    height: 200px;
}

.btn {
    background: #9ff690;
    border-radius: 20px;
    margin-top: 10px;
    transition: background 0.5s, color 0.5s;
}

.btn:hover {
    cursor: pointer;
    background: pink;
}

/* contact form for smart phone and tablet */
@media screen and (max-width: 820px) {
    .contactForm label {
        width: 100%; 
        text-align: left;
        margin-left: 80px;
    }
    .nameForm, .mailForm{
        margin-left: 10px;
        width: 663px;
        height: 49px;
    }
    
    .messageForm {
        margin-left: 10px;
        width: 663px;
        height: 200px;
    }
}

@media screen and (max-width: 431px) {
    .contactForm label {
        width: 100%; 
        text-align: left;
        margin-left: 80px;
    }
    .nameForm, .mailForm{
        width: 274px;
        height: 49px;
        margin-top: 9px;
        border: solid 1px black;
        margin-left: 20px;
    }
    
    .messageForm {
        width: 274px;
        height: 200px;
        margin-top: 9px;
        border: solid 1px black;
        margin-left: 20px;
    }
}

/* components > About.jsx table */
.AboutTable {
    border: solid 1px black;
    width: 600px;
}

/* about page */    
.aboutTitle {
    margin-left: 10px;
}
table , td, th {
    border: solid 1px #595959;
    border-collapse: collapse;
    }
table {
    margin-left: 20px;
}
td, th {
    padding: 10px;
    width: 600px;
    }
th {
    background-color: gray;
}

